/* Border repere a supprimer */

.b1{
    border: 3px solid blue;
}

.b2{
    border: 3px solid purple;
}

.b3{
    border: 3px solid aqua;
}

.b4{
    border: 3px solid tan;
}

.b5{
    border: 3px solid teal;
}

.b6{
    border: 3px solid gold;
}

*{
    font-size: 18px;
    
}

.tete{
    background: 
    linear-gradient(to top,
        rgba(253, 253, 253, 0.642)11%,
        rgba(0, 0, 0, 0.6)36%,
        rgba(3, 0, 184, 0.663)64%),
    url(./asset/img/headBG9.jpg) center/cover;
    background-position: -200px 0px ;
    height: 55vh;
    width: 100vw;
}


.navi{
    background-color: yellow;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.navbarre{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto,
}

.navi1{
    display: flex;
    align-items: center;
    width: 75vw;
    justify-content: space-around;
    margin-left: 0px;
}

.navi2{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 135px;
}
.social{
    transition: 1s;
}
.social img{
    height: 35px;
    margin-right: 8px;
    color: aqua ;
}

.social img:hover{
    height: 40px;
    
}

.navibutton{
    height: 30px;
    width: 70px;
    background-color: blue;
    font-weight: 400;
    box-shadow: 10px 8px 8px 2px #000;
    border: 2px solid #fff;
    border-radius: 10px;
    color:  #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    margin-right: 10px 0;
}
#parcours{
    font-size: 0.8rem;
    text-align: center;
}

.navbarre a{
    text-decoration: none;

    margin: auto 0;
    

}
.navibutton:hover{
    
    background-color: rgba(0, 128, 0, 0.441);

}

.headcontainer{
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: space-around;
}

.headcontainer h1{
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 16px;
}

.headcontainer h2{
    font-weight: 700;
    font-size: 2rem;
    margin-left: 83px;
    margin-top: -174px;
    
}


/* ------------------main-------------------- */


/* main{
    /background: linear-gradient(
            rgba(255, 255, 255, 0.901),
            moccasin,
            rgba(39, 0, 178, 0.915)); 
    
} */
/* .container{
    border: 3px solid green;
    background-color: #c4c4c4;
    height: 100vh;
} */

.subcontainer{
    width: 100vw;
    /* height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.subcontainer h2{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: black;
}
#monParcours{
    margin: 20px 0;
}
.portrait{
    margin: 0px 0;
    display: flex;
    justify-content: center;
}
/* 
.contenu{
    border:3px solid #000;
    display: flex;
    justify-content: space-around;
}



.portrait{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh; 
}
*/
.gridtext{
    display: grid;
    grid-template-rows: 130px;
    width: 70vw;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}
.cell{
    
    height: 130px;
}

.cell:nth-child(2){
    height: 60px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
.cell img{
    height: 130px;
    margin:  auto 0;
}

.gridtext div:first-child p{
    margin:10px auto;
}
/*
.cell{
    border: 4px solid yellow;
}
*/

/* ----section 2--- */


/* ----section 3--- */

#section3{
    display: none
}
.contenu2{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    height: 77vh;
}
/*
.Judo{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43vh;
    width: 57vw;
}

.contenu2 p{
    padding: 0 200px;
    margin-top: -100px;
}
*/

/*-------footer------- */

/*
.footcontainer{
    width: 80vw;
    height: max-content;
    margin: auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footsubcontainer{
width: 10vw;
border: 2px solid #000;
text-align: center;
font-size: 1rem;
}

.footsubcontainer h2{
    margin-bottom: 10px;
    font-size: 2rem;

} */