html{
    font-size: 18px;
}

.tete{
    background:
        linear-gradient(
            rgba(0, 200, 157, 0.459),
            rgba(0, 0, 0, 0.575)
        )
        silver;
    height: 80vh;

}

.logo{
    background-color: #000;
    height: 10vh;
    width: 07vh;
}

.navi{
    background-color: yellow;
    height: 10vh;
    display: flex;
}

.navbarre{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navi1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    width: 70%;
}

.navi2{
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    
    width: 50vw;
}

.navibutton{
    height: 30px;
    width: 100px;
    background-color: blue;
    font-weight: 400;
    box-shadow: 10px 8px 8px 2px #000;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    color:  #fff;
    transition: 0.2s;
    text-decoration: none
}

.navbarre a{

    margin: auto 0;
    

}
.navibutton:hover{
    
    background-color: rgba(0, 128, 0, 0.441);

}

.headcontainer{
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.headcontainer h1{
    font-weight: 700;
    font-size: 4.5rem;
    margin-top: 36px;
}

.headcontainer h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: -113px;
    margin-right: -320px;
}

/* ------------------main-------------------- */



.container{
    border: 3px solid green;
    background-color: #c4c4c4;
    height: 100vh;
}
.subcontainer{
    width: 80vw;
    height: 90vh;
    margin: auto;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.subcontainer h2{
    text-align: center;
    font-size: 4.5em;
    font-weight: 600;
    color: black;
}

.contenu{
    border:3px solid #000;
    display: flex;
    justify-content: space-around;
}



.portrait{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh; 
}

.gridtext{
    display: grid;
    grid-template-rows: repeat(12 1fr);
    border: 4px solid blue;
    width: 100%;
    height: 50vh;
    width: 70vh;
}

.cell{
    border: 4px solid yellow;
}

/* ----section 2--- */

.contenu2{
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 77vh;
}

.Judo{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43vh;
    width: 57vw;
}

.contenu2 p{
    padding: 0 200px;
    margin-top: -100px;
}